/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 微軟正黑體;
}

.row {
    display: flex;
}

.header_main {
    background: black;
    position: absolute;
    z-index: 50;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    right: 0;
    left: 0;
}

.brand {
    height: 30px;
    padding-left: 60px;
}

.header_nav-bar {
    padding: 15px 0;
}

.nav {
    float: right;
}

.menu-item {
    display: inline-block;
    margin-right: 60px;
    font-weight: bold;
}

.menu-item a {
    text-decoration: none;
    color: white;
}

.banner_area {
    height: 100vh;
    min-height: 800px;
    position: relative;
}

.banner_image {
    background-image: url("../image/banner_Noodle1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.target_news_container {
    background-image: url("../image/31544626543_d6735759f1_h.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding: 30px 0px 30px 0px;
}

.target_news {
    float: left;
    width: 40%;
    height: 100vh;
    min-height: 500px;
    max-height: 600px;
    max-width: 500px;
    position: relative;
    background: #fff;
    margin: 0 5% 0 5%;
}

.targetHeader {
    height: 50px;
    text-align: center;
    background: #b4292c;
    color: #fff;
    line-height: 50px;
}

.targetbody {
    height: 90%;
    padding: 10px;
}

.targetbody p {
    margin: 10px 0px;
}

.targetbody img {
    width: 100%;
}

/*fb*/

.bestSell_area {
    text-align: center;
    margin: 0px auto;
    background: #383838;
    padding: 50px 0;
    color: #fff;
}

.bestSellFather {
    /* 水平均分子項目 */
    display: flex;
}

.bestSellItem {
    flex: 1;
    margin: 0px auto;
    float: left;
    padding-top: 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #b4292c;
}

.bestSellItem img {
    padding: 10px;
    width: 80%;
}

.bestSellItem.active {
    background: #b4292c;
}

.bestSellBrand {
    margin: 0px auto 30px auto;
    height: 160px;
    background-image: url("../image/brand.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.moreItem {
    background: #b4292c;
    margin: 0px auto;
    width: 100px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

footer {
    background: #b4292c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 30px;
}

.footerPart0 {
    margin: 0px auto;
    width: 30%;
    float: left;
}

.footerPart1 {
    width: 30%;
    float: left;
}

.footerPart2 {
    width: 30%;
    float: left;
}

.footerPart2 div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}